<p id="notice"><%= notice %></p>
<h1>大喜利総合掲示板</h1>
<%= render 'form', board_message: @board_message %>
<p><%= link_to 'User Settings >>', controller: :board_users %></p>
<hr>
<h2>投稿一覧</h2>
<table width="90%">
	<thead>
		<tr>
			<th>Content</th>
			<th width="150px">Board user</th>
		 </tr>
	</thead>

	<tbody>
		<% @board_messages.each do |board_message| %>
			<tr>
				<td><%= board_message.content %></td>
				<td><%=link_to board_message.board_user.nickname, controller: :board_users, action: :show, id:board_message.board_user_id  %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>

<div><%= paginate @board_messages %></div>
<hr>
<div>copyright NBU students since 2018.</div>
